<div class="clearfix damageinfo-screen">
	<loading-overlay ng-if="loading"></loading-overlay>
	<div class="item-name">
		{{::data.name}}
	</div>
	<div class="side-select-container">
		<label title="If checked, the values below will indicate the number of shots required to destroy the item from the strong side.">
			<span>Strong side</strong>
			<input type="checkbox" ng-model="options.showStrongSide" />
		</label>
	</div>
	<div class="table-container">
		<table>
			<tr>
				<th>Item name</th>
				<th>Hits</th>
			</tr>
			<tr ng-repeat="hitValues in dataArray">
				<td>{{::hitValues.name}}</td>
				<td ng-if="options.showStrongSide">{{::(hitValues.values.totalStrongHits != -1 ? ceil(hitValues.values.totalStrongHits) : "∞")}}</td>
				<td ng-if="!options.showStrongSide">{{::(hitValues.values.totalWeakHits != -1 ? ceil(hitValues.values.totalWeakHits) : "∞")}}</td>
			</tr>
		</table>
	</div>
</div>