<div class="centered-page" style="margin-top: 50px">
    <div>
        <h2>Welcome</h2>
        <p><b>This site is still being developed.</b> Here's what you can currently do:</p>
        <ul style="text-align: left">
            <li>View all items and blueprints</li>
            <li>View total craft time and total requirements of blueprints</li>
            <li>See various information about items (like how many calories something gives you when you eat it)</li>
        </ul>

        <br/>

        <b>Here's what's planned for the near future</b>
        <ul style="text-align: left">
            <li>Statistics on how many times you need to use a certain weapon to destroy a certain building block or item</li>
            <li>Calculate required wood and time for smelting a specified amount of raw ores/food</li>
        </ul>

        <p>If you got any suggestions or a bug to report, <a ui-sref="bugreport">post a suggestion</a> or PM me at <a href="https://facepunch.com/member.php?u=182583" target="blank">Facepunch</a>.</p>
    </div>
</div>