<div class="main-window shadowed" ui-view></div>
<div class="browsers-wrapper">
    <div class="browser item-browser">
        <span class="header large no-select">Items</span>
        <div class="searchbar">
            <span>Search:</span>
            <input type="text" ng-model="itemFilter" />
        </div>

        <perfect-scrollbar class="browser-wrapper scroller">
            <div ng-repeat="item in items | filter:{name: itemFilter} track by item.id">
                <div ui-sref="itembps.item.info({ id: item.id })" class="item clearfix item-row" ng-class="{ 'active': itemActive(item) }">
                    <img class="image" ng-src="/img/icons/{{::item.id}}_small.png" />
                    <div class="info">
                        <span class="name">
                            {{::item.name}}
                        </span>
                        <br />
                        <span class="description" title="{{::item.description}}">{{::item.description | limitLength: 61}}</span>
                    </div>
                    <div class="xp-info" ng-if="recipes[item.id]">
                        <a ui-sref="itembps.item.recipe({ id: item.id, count: 1 })" ng-click="$event.stopPropagation()">
                            <span class="blueprint-text">Blueprint</span> <i title="Blueprint" class="fa fa-flask"></i>
                        </a>

                        <div class="box level" title="Level">
                            <i class="fa fa-star"></i> {{::recipes[item.id].level}}
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</div>