<div class="main-window shadowed" ui-view></div>
<div class="browsers-wrapper">
    <div class="browser item-browser">
        <span class="header large no-select">Items</span>
        <div class="searchbar">
            <span>Search:</span>
            <input type="text" ng-model="itemFilter" ng-change="scrollToTop()" />
        </div>

        <ul class="categories">
            <li class="category" ng-repeat="category in ::categories" ng-class="{'is-active': category === selectedCategory}">
                <a href="#" title="{{::category.name}}" ng-click="selectCategory(category)">
                    <img class="category-image" ng-src="/img/category_{{::category.name}}.png" />
                </a>
            </li>
        </ul>

        <perfect-scrollbar class="browser-wrapper scroller">
            <div ng-repeat="item in selectedCategory.items | filter:{name: itemFilter} | orderBy: 'name' track by item.id">
                <div ui-sref="itembps.item.info({ id: item.id })" class="item clearfix item-row" ng-class="{ 'active': itemActive(item) }">
                    <img class="image" ng-src="/img/icons/{{::item.id}}_small.png" />
                    <div class="info" title="{{::item.description}}">
                        <span class="name">
                            {{::item.name}}
                        </span>
                        <br />
                        <span class="description">
                            <span ng-if="recipes[item.id]">{{::recipes[item.id].input | friendlyRecipeInput | limitLength: 61}}</span>
                            <span ng-if="!recipes[item.id]" class="no-recipe">No recipe</span>
                        </span>
                    </div>
                    <div class="xp-info" ng-if="recipes[item.id]">
                        <a ui-sref="itembps.item.recipe({ id: item.id, count: 1 })" ng-click="$event.stopPropagation()">
                            <span class="blueprint-text">Blueprint</span> <i title="Blueprint" class="fa fa-flask"></i>
                        </a>

                        <div class="box level" title="Level">
                            <i class="fa fa-star"></i> {{::recipes[item.id].level}}
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</div>