<div ng-if="item" class="oven-screen clearfix">
	<div class="item-name">
		{{::item.name}}
	</div>
	<h3 style="text-align: center">Select items by right clicking on the item slots.</h3>
	<div class="buttons clearfix">
		<button title="Automatically add the needed fuel for the inputted cookables." ng-click="autoAddFuel(); calculate()">Auto fuel</button>
	</div>
	<div class="byproduct-checkbox-container clearfix" ng-if="item.meta.oven.allowByproductCreation">
		<label>
			<input type="checkbox" ng-model="options.predictByproduct" ng-change="calculate()" />
			<span>Estimate byproduct produce</span>
		</label>
	</div>
	<div class="item-container">
		<div title="{{slot.item.name}}" class="item-slot" ng-class="{ output: slot.output }" ng-repeat="slot in slots track by $index" draggable="{{!slot.output && !!slot.item}}" data-slot="{{::slot.index}}"
			 ng-context-menu="templates/partials/slot-context-menu.html" ng-context-options="slotContextMenuOptions" ng-context-scope="{ slot: slot }">
			<img class="icon" ng-src="/img/icons/{{slot.item.id}}.png" ng-if="slot.item" draggable="false" />
			<div class="stack-size" ng-if="slot.item && slot.count != 1">x{{slot.count}}</div>
		</div>
	</div>
	<div class="meta-info">
		<span>Time to cook: {{meta.ttc | friendlyTime}}</span>
	</div>
</div>
<div ng-if="!item" class="centered-page">
	This oven does not exist or can't cook/smelt any items.
</div>