<div class="main-window shadowed" ui-view></div>
<div class="browsers-wrapper">
    <div class="browser item-browser">
        <span class="header large no-select">Items</span>
        <div class="searchbar">
            <span>Search:</span>
            <input type="text" ng-model="itemFilter.name" />
        </div>
        <perfect-scrollbar class="browser-wrapper scroller">
            <a ui-sref="itembps.item.info({ id: item.id })" ng-repeat="item in filteredItems">
                <div class="item clearfix item-row" ng-class="{ 'active': itemActive(item) }">
                    <div class="image">
                        <img ng-src="/img/icons/{{item.id}}_small.png" />
                    </div>
                    <div class="info">
                        <span class="name">{{item.name}}</span>
                        <br />
                        <span class="description" title="{{item.description}}">{{item.description | limitLength: 61}}</span>
                    </div>
                </div>
            </a>
        </perfect-scrollbar>
    </div>
    <div class="browser blueprint-browser">
        <span class="header large no-select">Blueprints</span>
        <div class="searchbar" style="text-align: left">
            <span>Search:</span>
            <input type="text" ng-model="blueprintFilter.name" />
        </div>
        <perfect-scrollbar class="browser-wrapper scroller">
            <a ui-sref="itembps.item.recipe({ id: recipe.output.item.id, count: 1 })" ng-repeat="recipe in filteredRecipes">
                <div class="blueprint clearfix item-row" ng-class="{ 'active': bpActive(recipe) }">
                    <div class="image">
                        <img ng-src="/img/icons/{{recipe.output.item.id}}_small.png" />
                    </div>
                    <div class="info">
                        <span class="name">{{recipe.output.item.name}}</span>
                        <br />
                        <span class="description" title="{{recipe.input | friendlyRecipeInput}}">{{recipe.input | friendlyRecipeInput | limitLength: 65}}</span>
                    </div>
                    <div class="xp-info">
                        <div class="box level" title="Level">
                            <i class="fa fa-star"></i>
                            {{recipe.level}}
                        </div>
                    </div>
                </div>
            </a>
            <div class="blueprint clearfix item-row" ng-show="!filteredRecipes.length">
                <div class="image"></div>
                <div class="info" style="margin-top: 0.6em">
                    <span class="description">No items found with the current filter options.</span>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
</div>