div.oven-screen
{
	padding: 5px;

	& .buttons
	{
		padding: 0 10px;

		& button
		{
			float: left;
			width: 90px;
			padding: 10px 0;
			margin-right: 6px;
			margin-left: 0;
			margin-bottom: 6px;

			&:nth-child(6n+6)
			{
				margin-right: 0;
			}
		}
	}

	& button
	{
    	font-family: 'Roboto Condensed', sans-serif;
    	font-size: 0.95em;
	}

	& .item-container
	{
		margin: 10px;
		margin-top: 4px;
		margin-bottom: 5px;
	}
}