div.main-ui
{
    & div.damageinfo-screen
    {
        position: relative;
        padding: 5px;

        div.side-select-container
        {
            position: absolute;
            right: 5px;

            & label span
            {
                vertical-align: top;
            }
        }

        & .search-container
        {
            margin-bottom: 10px;
        }

        & .table-container
        {            
            & table
            {
                width: 100%;
                text-align: left;

                & td
                {
                    padding: 3px 5px;
                }

                & th:nth-child(1)
                {
                    width: 100%;
                }

                & tr:nth-child(even) td
                {
                    background-color: rgba(0, 0, 0, 0.2);
                }

                & tr:nth-child(odd) td
                {
                    background-color: rgba(0, 0, 0, 0.15);
                }

                & tr:hover td
                {
                    background-color: rgba(0, 0, 0, 0.3);
                }

                & th:nth-child(2),
                & td:nth-child(2),
                & th:nth-child(3),
                & td:nth-child(3)
                {
                    text-align: right;
                }
            }
        }
    }
}