$slotSize: 90px;
$iconSize: 75px;

div.item-container
{
	-moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

	& .item-slot
	{
		width: $slotSize;
		height: $slotSize;
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.25);
		margin-bottom: 1px;
		position: relative;
		cursor: default;

		& *
		{
			pointer-events: none; /* Allows user to drag item slot by children. */
		}

		&.output
		{
			cursor: not-allowed;
		}

		&:not(:last-of-type)
		{
			margin-right: 6px;
		}

		&:nth-child(6n+6)
		{
			margin-right: 0;
		}

		&:hover:not(.output)
		{
			background-color: rgba(25, 25, 25, 0.25);
		}

		& .stack-size
		{
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 3px;
			font-weight: bold;
			font-size: 1.05em;
			color: #C3C3C3;
		}

		& img.icon
		{
			position: absolute;
			width: $iconSize;
			height: $iconSize;
			left: ($slotSize / 2) - ($iconSize / 2);
			top: ($slotSize / 2) - ($iconSize / 2);
		}
	}
}

.context-menu.item-slot-context-menu
{
	background: rgba(0, 0, 0, 0.75);
	border: 1px solid #2b2b2b;
	padding: 5px;
	color: #e2e2e2;
	overflow-y: auto;

	-webkit-border-radius: 3px;
	border-radius: 3px;

	box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);

	& h3.category-title
	{
		margin-top: 0;
	}

	& .cookables-browser
	{
		& .cookable
		{
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 5px;

			& .icon
			{
				width: 75px;
			}
		}
	}

	& .count-slider
	{
		& .input-container
		{
			padding: 0 20px;
		}

		& input[type="range"]
		{
			width: 100%;
		}
	}

	& .scroller
	{
		max-height: 440px;
		max-width: 250px;
	}
}