@import "spinkit";
@import "range-style";

body
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover, auto;
    background-attachment: fixed;
    margin: 0;
    min-height: 700px;

    font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 1600px)
{
    body
    {
        min-height: 1250px;
    }
}

.footer
{
    display: inline-block;
    background-color: rgba(27, 27, 27, 0.64);
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #727271;
    font-weight: bold;
    font-size: 0.9em;
    width: 100%;

    & .bottom-nav
    {
        border-left: solid 1px #716D6A;
        padding-left: 15px;
        margin-left: 15px;
        display: inline-block;
        text-align: center;

        & ul
        {
            list-style: none;
            padding: 0;
            margin: 0;
            
            & li
            {
                display: inline-block;

                &:not(:first-of-type)
                {
                    padding-left: 15px;
                }

                &.active a
                {
                    text-decoration: underline;
                }
            }
        }
    }
}

.no-select
{
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    cursor: default;
}

a,
a:visited
{
    color: #AEAF81;
    text-decoration: none;
    -moz-transition: color ease-in-out 0.1s;
    -o-transition: color ease-in-out 0.1s;
    -webkit-transition: color ease-in-out 0.1s;
    transition: color ease-in-out 0.1s;

    &:hover
    {
        color: #8d8e68;
    }
}

/**
 * Clearfix
 */
.clearfix
{
    *zoom: 1;

    &:before,
    &:after
    {
        content: " ";
        display: table;
    }

    &:after
    {
        clear: both;
    }
}

*
{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    &[ng-click]
    {
        cursor: pointer;
    }
}

.scroller
{
    overflow-y: hidden;
    position: relative;
}

.centered-page
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 320px;
}

.centered-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.featherlight
{
    background: rgba(0, 0, 0, 0.5) !important;
    cursor: default;

    & .featherlight-content
    {
        background-color: transparent;

        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
}

.overlay
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    height: auto !important;
    width: auto !important;
}

#toast-container
{
    & .toast-info
    {
        background-color: #306879;

        &:hover
        {
            cursor: default;
        }
    }

    & > div
    {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

ul.nomargin
{
    margin: 0;
    padding: 0;
}

ul.unstyled
{
    list-style: none;
}